<strong>Olá {{ deliveryman }}</strong>

<p>Você tem uma nova entrega a ser realizada, confira os dados do destinatário abaixo:</p>
<p>
    <strong>Cliente: </strong> {{recipient}} <br />
    <strong>Endereço: {{ address }}</strong>
    <strong>Produto a ser entregue: {{product}} </strong>
    <br />
    <small>
        A entrega já está disponível.
    </small>
</p>
